@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: 'Roboto', sans-serif;
  --project-blue: #1992d4;
  --sidebar-font-color: white;
  --beyond-bg-color: #e2e8f0;
  --link-color: black;
  --content-bg-color: #ffffff;
  --card-border-color: #f0b429;
  --card-color: #646464;
  --round-border: 80px;
  --nice-border: 8px;
  --item-shadow: 4px 5px 4px #d4dae2;
}

body {
  height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: 500;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "sidebar header header"
  "sidebar main main";
}

.header {
  grid-area: header;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-template-areas: 
  "search search notifications"
  "profile profile edit";
  padding: .1rem 1rem;
  position: relative;
  box-shadow: var(--item-shadow);
}

.search {
  grid-area: search;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-content: center;
  align-items: center;
}

.search-icon {
  width: 24px;
  justify-self: center;
}

.search input {
  height: 2rem;
  border-radius: var(--round-border);
  border: none;
  outline: none;
  text-indent: .5rem;
  background-color: var(--beyond-bg-color);
}

.profile {
  grid-area: profile;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: center;
  align-items: center;
}

.profile-picture img {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: var(--round-border);
  margin-left: 50px;
}

.profile-greeting {
  font-size: .8rem;
  font-weight: 500;
}

.profile-username {
  font-size: 1.2rem;
  font-weight: 700;
}

.notifications {
  grid-area: notifications;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: center;
  align-items: center;
}

.notifications-bell {
  width: 24px;
}

.notifications-profile-picture, .trending-picture img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: var(--round-border);
}

.notifications-user a {
  color: var(--link-color);
  font-weight: 700;
}

.edit {
  grid-area: edit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.edit-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.edit-list-item button {
  width: 80px;
  height: 30px;
  margin: 1rem;
  font-weight: 600;
  border: none;
  color: var(--content-bg-color);
  border-radius: var(--round-border);
  background-color: var(--project-blue);
  cursor: pointer;
}

.sidebar {
  grid-area: sidebar;
  width: 250px;
  display: grid;
  grid-template-rows: 1fr 3fr 5fr;
  background-color: var(--project-blue);
  color: var(--sidebar-font-color);
}

.logo {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin: 1em;
}

.logo-img {
  width: 40px;
  margin: 0 10px;
}

.logo-text {
  font-size: 1.3rem;
  font-weight: 800;
}

.navbar ul, .settings-navbar ul {
  padding-left: 2em;
}

.navbar-item, .settings-item {
  margin: 16px 0;
}

.navbar-item-link, .settings-link {
  display: flex;
  align-items: center;
  color: var(--sidebar-font-color);
}

.navbar-item-icon, .settings-icon {
  width: 20px;
  margin-right: 1em;
}

.main {
  grid-area: main;
  display: grid;
  padding: 1.5rem;
  gap: 15px;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: 
  "projects news";
  background-color: var(--beyond-bg-color);
}

.projects-title, .announcements-title, .trending-title {
  font-weight: 500;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px repeat(3, 5fr);
  grid-template-areas: 
  "title title title"
  "cards cards cards";
}

.projects-title {
  grid-area: title;
}

.cards {
  grid-area: cards;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
}

.project-card {
  width: 350px;
  height: 200px;
  background-color: var(--content-bg-color);
  border-left: 8px solid var(--card-border-color);
  padding: 1rem;
  box-shadow: var(--item-shadow);
  border-radius: var(--nice-border);
}

.project-name {
  font-weight: 800;
  padding-top: 1rem;
}

.project-description, .announcement-content {
  font-size: .9rem;
  font-weight: 400;
  color: var(--card-color);
}

.news {
  grid-area: news;
}

.announcements, .trending {
  display: grid;
  grid-template-rows: 50px 5fr;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

.trending-user {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.trending-data {
  display: flex;
  flex-direction: column;
}

.trending-project {
  color: var(--card-color)
}

.announcements-list, .trending-card {
  background-color: var(--content-bg-color);
  border-radius: var(--nice-border);
  box-shadow: var(--item-shadow);
  padding: 1rem;
  width: 300px;
}

.trending-card {
  padding-right: 4rem;
}

.announcement {
  margin: 1rem;
}

.announcement-title {
  font-size: 1rem;
  font-weight: 800;
}